
<h1>Album list</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Released</th>
    <th></th>
  </tr>
 
  <% @albums.each do |album| %>
    <tr>
      <td><%= album.title %></td>
      <td><%= album.artist %></td>
      <td><%= album.released %></td>
      <td><%= link_to 'Show', album_path(album) %></td>
      <td><%= link_to 'Edit', edit_album_path(album) %></td>
      <td><%= link_to 'Delete', album_path(album),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

<%= link_to 'New album', new_album_path %>

</table>